# Lunar Missions

https://pandas.pydata.org/

In [1]:
import pandas as pd

Read json file.

In [2]:
df = pd.read_json("./01_lunar_missions.json")
df

,mission_name,start_date,end_date,country,rocket_name,rocket_type
0,Apollo 11,1969-07-16,1969-07-24,United States,Saturn V,Heavy
1,Chang'e 3,2013-12-02,2013-12-14,China,Long March 3B,Medium
2,Luna 2,1959-09-12,1959-09-14,Soviet Union,Luna,Medium
3,Apollo 15,1971-07-26,1971-08-07,United States,Saturn V,Heavy
4,Luna 9,1966-01-31,1966-02-06,Soviet Union,Molniya-L,Medium

Number of rows

In [3]:
df.shape[0]

5

Column Types

In [4]:
df.dtypes

mission_name    object
start_date      object
end_date        object
country         object
rocket_name     object
rocket_type     object
dtype: object

In [5]:
# convert columns to string
df["mission_name"] = df["mission_name"].astype("string")
df["country"] = df["country"].astype("string")
df["rocket_name"] = df["rocket_name"].astype("string")
df["rocket_type"] = df["rocket_type"].astype("string")

# convert columns to datetime
df["start_date"] = pd.to_datetime(df["start_date"], errors="coerce")
df["end_date"] = pd.to_datetime(df["end_date"], errors="coerce")

In [6]:
df.dtypes

mission_name    string[python]
start_date      datetime64[ns]
end_date        datetime64[ns]
country         string[python]
rocket_name     string[python]
rocket_type     string[python]
dtype: object

In [7]:
df.sort_values(["start_date"], ascending=True)

  mission_name start_date   end_date        country    rocket_name rocket_type
2       Luna 2 1959-09-12 1959-09-14   Soviet Union           Luna      Medium
4       Luna 9 1966-01-31 1966-02-06   Soviet Union      Molniya-L      Medium
0    Apollo 11 1969-07-16 1969-07-24  United States       Saturn V       Heavy
3    Apollo 15 1971-07-26 1971-08-07  United States       Saturn V       Heavy
1    Chang'e 3 2013-12-02 2013-12-14          China  Long March 3B      Medium

Add mission duration.

In [8]:
df["duration_days"] = (df["end_date"] - df["start_date"]).dt.days
df.sort_values(["duration_days"], ascending=False)

,mission_name,start_date,end_date,country,rocket_name,rocket_type,duration_days
1,Chang'e 3,2013-12-02,2013-12-14,China,Long March 3B,Medium,12
3,Apollo 15,1971-07-26,1971-08-07,United States,Saturn V,Heavy,12
0,Apollo 11,1969-07-16,1969-07-24,United States,Saturn V,Heavy,8
4,Luna 9,1966-01-31,1966-02-06,Soviet Union,Molniya-L,Medium,6
2,Luna 2,1959-09-12,1959-09-14,Soviet Union,Luna,Medium,2

Filter country United States.

In [9]:
df[df["country"] == "United States"]

,mission_name,start_date,end_date,country,rocket_name,rocket_type,duration_days
0,Apollo 11,1969-07-16,1969-07-24,United States,Saturn V,Heavy,8
3,Apollo 15,1971-07-26,1971-08-07,United States,Saturn V,Heavy,12