# Sets

In Python, variables of type set are used to store an unordered collection of unique items. Sets are mutable, but they do not support indexing or slicing like lists and tuples.

Sets can be created by enclosing a sequence of items in curly braces {}, separated by commas.

Important methods: add(), clear(), pop(), union(), issuperset(), issubset(), intersection(), difference(),
isdisjoint(), setdiscar(), copy()

In [1]:
t = set()
type(t)

set

In [2]:
t = {1, 1, 1, 1, 2, 2, 2, 3, 4}
set(t)

{1, 2, 3, 4}

In [3]:
t = {"apple", "microsoft"}
type(t)

set

In [4]:
t.add("dell")
t

{'apple', 'dell', 'microsoft'}

In [5]:
t.update(["hp", "lenovo"])
t

{'apple', 'dell', 'hp', 'lenovo', 'microsoft'}

In [6]:
len(t)

5

If the item to remove does not exist will raise an error.

In [7]:
t.remove("dell")
t

{'apple', 'hp', 'lenovo', 'microsoft'}

In [8]:
t.discard("lenovo")
t

{'apple', 'hp', 'microsoft'}

Remove the last item

In [9]:
t.pop()

'apple'

Empties the set

In [10]:
t.clear()

In [11]:
del t

In [12]:
t = {"apple", "microsoft"}
r = {"dell", "lenovo"}
t.union(r)

{'apple', 'dell', 'lenovo', 'microsoft'}

In [13]:
t = {"apple", "microsoft"}
r = {"dell", "lenovo"}
t.update(r)
t

{'apple', 'dell', 'lenovo', 'microsoft'}

Frozenset

The frozenset() function returns an immutable frozenset object initialized with elements from the given iterable.

In [14]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
frozen_planets = frozenset(planets)
frozen_planets

frozenset({'Earth',
           'Jupiter',
           'Mars',
           'Mercury',
           'Neptune',
           'Saturn',
           'Uranus',
           'Venus'})

In [15]:
stars = ["Sun"]
frozen_stars = frozenset(stars)

Frozenset operations

In [16]:
frozen_planets.union(frozen_stars)

frozenset({'Earth',
           'Jupiter',
           'Mars',
           'Mercury',
           'Neptune',
           'Saturn',
           'Sun',
           'Uranus',
           'Venus'})

In [17]:
frozen_planets.intersection(frozen_stars)
frozenset()

frozenset()

In [18]:
frozen_planets.difference(frozen_stars)

frozenset({'Earth',
           'Jupiter',
           'Mars',
           'Mercury',
           'Neptune',
           'Saturn',
           'Uranus',
           'Venus'})

In [19]:
frozen_planets.symmetric_difference(frozen_stars)

frozenset({'Earth',
           'Jupiter',
           'Mars',
           'Mercury',
           'Neptune',
           'Saturn',
           'Sun',
           'Uranus',
           'Venus'})

Extract dictionary keys using frozenset

In [20]:
planets_dct = {"P1": "Earth", "P2": "Jupiter", "P3": "Mars", "P4": "Mercury"}
planets_keys = frozenset(planets_dct)
planets_keys

frozenset({'P1', 'P2', 'P3', 'P4'})

In [21]:
frozenset({'P1', 'P2', 'P3', 'P4'})
frozen_planets.issubset(frozen_stars)

False

In [22]:
frozen_planets.issuperset(frozen_stars)

False