## For loop

In Python, the for loop is used for iterating over a sequence (that can be a list, tuple, dictionary, set, or string) and executing a block of code for each element in the sequence.

In [2]:
for i in range(4):
    print(i)

0
1
2
3

In [3]:
for i in range(2, 4):
    print(i)

2
3

In [4]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [5]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
for planet in planets:
    print(planet)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [6]:
planets = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
for planet in planets:
    print(planet)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

Else...

If loop get to the end then else block is executed.

In [7]:
for planet in planets:
    if planet == "Mercury":
        break
else:
    print("Get to the end of the list!")

In [8]:
for planet in planets:
    if planet == "blah":
        break
else:
    print("Get to the end of the list!")

Get to the end of the list!

Enumerate.

In [9]:
for index, planet in enumerate(planets, start=1):
    print(index, planet)

1 Mercury
2 Venus
3 Earth
4 Mars
5 Jupiter
6 Saturn
7 Uranus
8 Neptune

Using with two lists at the same time.

In [10]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
ordinals = ["first", "second", "third", "fourth", "fifth", "sixth", "seventh", "eighth"]

In [11]:
for planet, ordinal in zip(planets, ordinals):
    print(planet, ordinal)

Mercury first
Venus second
Earth third
Mars fourth
Jupiter fifth
Saturn sixth
Uranus seventh
Neptune eighth

In [12]:
for value in zip(planets, ordinals):
    print(value)

('Mercury', 'first')
('Venus', 'second')
('Earth', 'third')
('Mars', 'fourth')
('Jupiter', 'fifth')
('Saturn', 'sixth')
('Uranus', 'seventh')
('Neptune', 'eighth')

List comprehension

In [2]:
x = range(5)

In [3]:
out = []
for num in x:
    out.append(num**2)
out

[0, 1, 4, 9, 16]

In [4]:
[num**2 for num in x]

[0, 1, 4, 9, 16]